// Breakpoints taken from TailwindCSS

$breakpoints-up: (
  "sm": "640px",
  "md": "768px",
  "lg": "1024px",
  "xl": "1280px",
  "xxl": "1536px",
);

$breakpoints-down: (
  "sm": "639.98px",
  "md": "767.98px",
  "lg": "1023.98px",
  "xl": "1279.98px",
  "xxl": "1535.98px",
);

@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
