@use "../../../../scss/utilities/" as *;

.bestseller-card {
  cursor: pointer;
  transition: all 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 10px 1px var(--clr-muted);
    transform: scale(1.05);
  }
}

.bestseller-card__img {
  width: 100%;
  max-width: rem(300);
}

.bestseller-card__title {
  font-size: rem(16);
  margin-top: rem(25);
  margin-bottom: rem(10);
}

.bestseller-card__category {
  font-size: rem(14);
  line-height: rem(24);
  margin-bottom: rem(15);
}

.bestseller-card__price {
  font-weight: 700;
  font-size: rem(16);
  color: var(--clr-muted);
  margin-bottom: rem(40);
  .bestseller-card__price--new {
    color: var(--clr-green);
    margin-left: rem(5);
  }
}
