@use "../utilities/" as *;

:root {
  --font-primary: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-400.woff") format("woff"), url("../../assets/fonts/Montserrat-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/fonts/Montserrat-700.woff") format("woff"), url("../../assets/fonts/Montserrat-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
