@use "../../../../scss/utilities/" as *;

.mobile-card {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  &:first-child {
    margin-bottom: rem(30);
  }
}
.mobile-fixed {
  display: inline-block;
  position: absolute;
  top: rem(20);
  left: rem(20);
  font-size: rem(14);
  line-height: rem(24);
  background-color: var(--clr-red);
  color: var(--clr-white);
  padding-inline: rem(10);
  border-radius: rem(3);
}

.mobile-card__image {
  aspect-ratio: 1/1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mobile-card__content {
  padding: rem(25) rem(25) rem(35) rem(25);
}

.mobile-card__tags {
  display: flex;
  font-size: rem(12);
  line-height: rem(16);
  gap: rem(15);
  margin-bottom: rem(10);
  span:first-child {
    color: #8ec2f2;
  }
}

.mobile-card__title {
  margin-bottom: rem(10);
  font-size: rem(20);
  line-height: rem(30);
}

.mobile-card__description {
  font-size: rem(14);
  margin-bottom: rem(25);
}

.mobile-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(12);
  line-height: rem(16);
  margin-bottom: rem(25);
}

.details__time {
  display: flex;
  align-items: center;
  svg {
    fill: var(--clr-primary);
    width: rem(16);
    vertical-align: baseline;
    margin-right: rem(5);
    height: auto;
  }
}

.details__comment {
  display: flex;
  align-items: center;
  svg {
    fill: var(--clr-green);
    width: rem(16);
    object-fit: cover;
    vertical-align: baseline;
    margin-right: rem(5);
    height: auto;
  }
}

.mobile-card__link {
  display: flex;
  align-items: center;
  font-size: rem(14);
  line-height: rem(24);
  font-weight: 700;
  svg {
    fill: var(--clr-primary);
    margin-left: rem(10);
  }
}
